{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Обо мне</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'mysite/css/style.css' %}">
</head>
<body>
    <aside><center>
        <h1><center>Обо мне</center></h1>
        <p><center>Меня зовут Ефимов Сергей, мне 16 лет. Я родился и проживаю в Москве.</center></p>
        <p><center>Интерисуюсь программированием, на данный момент усиленно готовлючь к ЕГЭ.</center></p>
        <p><center>По этой причине времени остается только на занятия по программированию, т.к.</center></p>
        <p><center>из всех моих занятий, данное принесет мне набольшую пользу в жизни.</center></p>
        <p><center>Свой первый реальный проект по программированию планирую реализовать</center></p>
        <p><center>на этих курсах.</center></p>
        <img src="{% static 'mysite/img/itsmemario.jpg' %}" alt="моя фотография"
        height = "640"
        width = "475">
    </center></aside>
</body>
</html>