body {
    background: #191919;
}
aside{
    position: fixed;
    float: left;
    background: #4A4A4A;
    width: 40%;
    padding: 2.5%;
    height: 100vh;
    left: 30%;
    border-right: 10px solid #383838;
    border-left: 10px solid #383838;
    color: #fff;
}